<div class="container">    
    <h1>Lista de Categorias</h1>

    <%= link_to 'Crear Nueva Categoria', "/categorias/crear", class:"btn btn-primary" %>
    <%= link_to 'Lista Productos', "/productos", class:"btn btn-primary" %>
    <br>
    <br>
    <table class="table table-hover table-bordered border-primary">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Categoria</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <% @lista_categorias.each do |lista| %>
            
                    <%= render 'categorias_registradas', categoria_nueva: lista %>

                <% end %>
                
            </tr>
            
        </tbody>
    </table>
</div>